 <section class="hero" aria-label="Intro">
      <div class="hero-bg" role="img" aria-label="Background image"
       style="background-image:url('img/BG.png');"></div>
      <div class="hero-overlay"></div>
      <div class="hero-overlay"></div>

      <div class="container hero-inner">
        <div class="hero-left">
          <h1 class="hero-title">Quang-Thinh BUI, Ph.D.</h1>

          <div class="hero-links">
            <a class="pill" href="https://scholar.google.com/citations?user=CYkpMqkAAAAJ&hl=en" target="_blank" rel="noreferrer">Scholar</a>
            <a class="pill" href="https://www.scopus.com/authid/detail.uri?authorId=57211412789" target="_blank" rel="noreferrer">Scopus</a>
            <a class="pill" href="#" target="_blank" rel="noreferrer">dblp</a>
            <a class="pill" href="https://orcid.org/0000-0002-7357-2574" target="_blank" rel="noreferrer">ORCID</a>
            <a class="pill" href="https://www.linkedin.com/in/quangthinhbui/" target="_blank" rel="noreferrer">LinkedIn</a>
          </div>

          <p class="hero-email">buiquangthinh [at] tgu [dot] edu [dot] vn</p>

          <p class="hero-text">
            My name is Bùi Quang Thịnh, a lecturer at Tien Giang University, Vietnam. 
            I currently serve as the Deputy Head in charge of the <i>Office of Scientific Research, Technology Management, and International Cooperation</i>.
             I also lead the <i>Applied Mathematics and Data Science (AMaDaS) Research Group</i>. 
            My research interests include Applied Topology, Fuzzy Theory, Soft Computing, Data Mining, and Representation Learning.
          </p>

          <div class="hero-cta">
            <a class="btn primary" href="https://drive.google.com/file/d/1jG0Krb7VTisgOXq0_jfSn-lwa-nUapjK/view" target="_blank" rel="noreferrer">Curriculum Vitae</a>
          </div>

        </div>

        <aside class="hero-right" aria-label="Profile photo">
          <div class="avatar-wrap">
            <img class="avatar" src="img/avartar.png" alt="Profile photo" />
          </div>
        </aside>
      </div>
    </section>